span.re-index {
	background: url(spinner.gif) 100% 50% no-repeat;
	padding-right: 25px;
}

td.count-column {
	width: 200px;
}

span#search-index-config {
	display: none;
}

p.intro {
	margin: 0 19px 10px 19px;
	color: #887;
}

.search-index-log-filters {
	margin: 0.5em 0 1.75em 0;
    padding: 0 19px 1em 19px;
    vertical-align: middle;
    border-bottom: 1px solid #e6e6e5;
	-moz-box-shadow: 0 3px 8px #f5f5f4;
	-webkit-box-shadow: 0 3px 8px #f5f5f4;
}

.search-index-log-filters label {
	display: inline-block;
	margin-bottom: 5px;
}

.search-index-log-filters input[type='text'] {
	width: auto;
	font-size: 100%;
}

.search-index-log-filters p {
	margin-left: 0;
	margin-bottom: 0;
}

h2 {
	line-height: 1 !important;
}

h2 span.meta {
	left: 21em;
	position: absolute;
}

table span.suggestion {
	display: inline-block;
	width: 8px;
	height: 8px;
	background: #eee;
	-webkit-border-radius: 100px;
	vertical-align: baseline;
	margin: 0 5px 0 0;
	position: relative;
	cursor: pointer;
}

table span.suggestion.yes,
table span.suggestion.yes:hover {
	background: #81B934;
}

table span.suggestion:hover {
	background: #ccc;
}

table .date,
table .depth,
table .results,
table .rank,
table .percent,
table .count {
	width: 120px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

table .date {
	width: 160px;
}

table .keywords {
	white-space: nowrap;
}

table .session_id {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}



table.sessions tbody tr.last td {
	border-bottom: 1px solid #ccc;
}

table.sessions tbody tr:first-child td {
	border-top: 1px solid #ddd;
}
table.sessions tbody tr:last-child td {
	border-bottom: 1px solid #ddd;
}

table.sessions tbody tr td {
	background: #F5F5F4;
	border-color: #eee;
}

table.sessions tbody tr.alt td {
	background: #fff;
}